PORT=4242
BASE_URL=http://localhost:4242

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

ADMIN_USER=admin
ADMIN_PASSWORD=
ADMIN_SECRET=
ADMIN_PORT=5050

INSTALLER_URL=https://github.com/enesyalii/vMule/releases/latest/download/vMule-Setup-0.51.0.exe
